includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    tmpDir: %rootDir%/../storage/phpstan-cache
    excludePaths:
        - './.phpstorm.meta.php'
        - './_ide_helper.php'
        - './_ide_helper_models.php'
        - './app/Actions/Jetstream'
    paths:
        - app/
    # Level 9 is the highest level
    level: 7
    ignoreErrors:
        - '#PHPDoc tag @mixin#'
    checkMissingIterableValueType: false
